<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="${rc.contextPath}/css/main.css" rel="stylesheet" type="text/css">
</head>
<body style="margin: 0px;">
#parse('layout/header.vm')
    $screen_content
#parse('layout/footer.vm')
</body>
</html>
